http_interactions:
- request:
    method: get
    uri: http://data.ssb.no/api/klass/v1/classifications/104/changes?from=2018-01-01&to=2019-01-02
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=UTF-8
      x-application-context: application:mariadb,api,remote-solr,skip-indexing:8080
    body:
      encoding: ''
      file: no
      string: '{"codeChanges":[]}'
  recorded_at: 2023-04-07 13:10:17 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: http://data.ssb.no/api/klass/v1/classifications/104/changes?from=2019-01-01&to=2020-01-02
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=UTF-8
      x-application-context: application:mariadb,api,remote-solr,skip-indexing:8080
    body:
      encoding: ''
      file: no
      string: '{"codeChanges":[{"oldCode":"01","oldName":"<U+00D8>stfold","oldShortName":"","newCode":"30","newName":"Viken","newShortName":"","changeOccurred":"2020-01-01"},{"oldCode":"02","oldName":"Akershus","oldShortName":"","newCode":"30","newName":"Viken","newShortName":"","changeOccurred":"2020-01-01"},{"oldCode":"06","oldName":"Buskerud","oldShortName":"","newCode":"30","newName":"Viken","newShortName":"","changeOccurred":"2020-01-01"},{"oldCode":"04","oldName":"Hedmark","oldShortName":"","newCode":"34","newName":"Innlandet","newShortName":"","changeOccurred":"2020-01-01"},{"oldCode":"05","oldName":"Oppland","oldShortName":"","newCode":"34","ne[...]
