http_interactions:
- request:
    method: get
    uri: http://data.ssb.no/api/klass/v1/classifications/104/codes?from=2018-01-01&to=2020-01-02
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=UTF-8
      x-application-context: application:mariadb,api,remote-solr,skip-indexing:8080
    body:
      encoding: UTF-8
      file: no
      string: '{"codes":[{"code":"01","parentCode":null,"level":"1","name":"Østfold","shortName":"","presentationName":"","validFromInRequestedRange":"2018-01-01","validToInRequestedRange":"2020-01-01"},{"code":"02","parentCode":null,"level":"1","name":"Akershus","shortName":"","presentationName":"","validFromInRequestedRange":"2018-01-01","validToInRequestedRange":"2020-01-01"},{"code":"03","parentCode":null,"level":"1","name":"Oslo","shortName":"","presentationName":"","validFromInRequestedRange":"2018-01-01","validToInRequestedRange":"2020-01-02"},{"code":"04","parentCode":null,"level":"1","name":"Hedmark","shortName":"","presentationName":"","validFromInRequestedRange":"2018-0[...]
