http_interactions:
- request:
    method: get
    uri: http://data.ssb.no/api/klass/v1/classifications/104/codes?from=2016-01-01&to=2018-01-02
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=UTF-8
      x-application-context: application:mariadb,api,remote-solr,skip-indexing:8080
    body:
      encoding: ''
      file: no
      string: '{"codes":[{"code":"01","parentCode":null,"level":"1","name":"<U+00D8>stfold","shortName":"","presentationName":"","validFrom":null,"validTo":null,"validFromInRequestedRange":"2016-01-01","validToInRequestedRange":"2018-01-02","notes":""},{"code":"02","parentCode":null,"level":"1","name":"Akershus","shortName":"","presentationName":"","validFrom":null,"validTo":null,"validFromInRequestedRange":"2016-01-01","validToInRequestedRange":"2018-01-02","notes":""},{"code":"03","parentCode":null,"level":"1","name":"Oslo","shortName":"","presentationName":"","validFrom":null,"validTo":null,"validFromInRequestedRange":"2016-01-01","validToInRequestedRange":"2018-01-02","notes":""},{"code":"04","parentCode":null,"level":"1","name":"Hedma[...]
