http_interactions:
- request:
    method: get
    uri: http://data.ssb.no/api/klass/v1/classifications/104/corresponds?targetClassificationId=131&from=2018-01-01&to=2020-01-02
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=UTF-8
      x-application-context: application:mariadb,api,remote-solr,skip-indexing:8080
    body:
      encoding: ''
      file: no
      string: '{"correspondenceItems":[{"sourceCode":"01","sourceName":"Østfold","sourceShortName":"","targetCode":"0101","targetName":"Halden","targetShortName":"","validFrom":"2018-01-01","validTo":"2020-01-01"},{"sourceCode":"01","sourceName":"Østfold","sourceShortName":"","targetCode":"0104","targetName":"Moss","targetShortName":"","validFrom":"2018-01-01","validTo":"2020-01-01"},{"sourceCode":"01","sourceName":"Østfold","sourceShortName":"","targetCode":"0105","targetName":"Sarpsborg","targetShortName":"","validFrom":"2018-01-01","validTo":"2020-01-01"},{"sourceCode":"01","sourceName":"Østfold","sourceShortName":"","targetCode":"0106","targetName":"Fredrikstad","targetShortName":"","val[...]
